<ul>
<% @current_cart.line_items.each do |line| %>
  <li>
    <%= line.product.name %> x <%= line.qty %> = <%= line.product.price * line.qty %>
    <%= link_to "[x]", cancel_product_path(line.product), :method => :post %>
  </li>
<% end %>
</ul>
